@inject Service Service
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BikeShopAPI_UI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Create">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create Account
            </NavLink>
        </li>

        @if (!Service.LoggedIn)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        }

        @if (Service.LoggedIn)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Logout">
                    <span class="oi oi-plus" aria-hidden="true"></span> Logout
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Get Transaction">
                <span class="oi oi-plus" aria-hidden="true"></span> Get Transaction
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Fetch Transactions">
                <span class="oi oi-plus" aria-hidden="true"></span> Fetch Transactions
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Post Transaction">
                <span class="oi oi-plus" aria-hidden="true"></span> Post Transaction
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Put Transaction">
                <span class="oi oi-plus" aria-hidden="true"></span> Put Transaction
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Get Error Rate">
                <span class="oi oi-plus" aria-hidden="true"></span> Get Error Rate
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Fetch Error Rates">
                <span class="oi oi-plus" aria-hidden="true"></span> Fetch Error Rates
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Post Error Rate">
                <span class="oi oi-plus" aria-hidden="true"></span> Post Error Rate
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Put Error Rate">
                <span class="oi oi-plus" aria-hidden="true"></span> Put Error Rate
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Get Login">
                <span class="oi oi-plus" aria-hidden="true"></span> Get Login
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Fetch Logins">
                <span class="oi oi-plus" aria-hidden="true"></span> Fetch Logins
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Post Login">
                <span class="oi oi-plus" aria-hidden="true"></span> Post Login
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Put Login">
                <span class="oi oi-plus" aria-hidden="true"></span> Put Login
            </NavLink>
        </li>

    </ul>
</div>

@code {

    private bool logStat = false;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        Service.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Service.OnChange -= StateHasChanged;
    }
}
