@*///////////////////////////////////////////////////////////////////////////
    ///
    /// Project:        Sprint 3
    /// File Name:      Admin.razor
    /// Description:
    ///                 Contains contents of the admin login page
    /// Course:         CSCI 4350 - Software Engineering
    /// Authors:
    ///                 Darien Roach,   roachda@etsu.edu,   Developer
    ///                 Grant Watson,   watsongo@etsu.edu,  Developer
    ///                 Kelly King,     kingkr1@etsu.edu,   Developer
    ///                 Jackson Brooks, brooksjt@etsu.edu,  Developer
    ///                 Nick Ehrhart,   ehrhart@etsu.edu,   Product Owner
    ///                 Anna Cade,      cadea1@etsu.edu,    Scrum Master
    ///
    /// Created:        Sunday, October 18th, 2020
    /// Updated:        Sunday, November 29th, 2020
    ///
    //////////////////////////////////////////////////////////////////////////*@
@page "/Admin"

@inject NavigationManager NavigationManager
@inject Service Service
@inject LoginCount loginCount

<h3>Admin</h3>

<EditForm Model="@loginModel">
    <p>
        <label>
            Admin Username:
            <InputText @bind-Value="loginModel.Input" />
        </label>
    </p>

    <p>
        <label>
            Admin Password:
            <InputText type="password" @bind-Value="loginModel.Password" />
        </label>
    </p>
    <button class="btn btn-primary" @onclick="adminLog">Submit</button>
</EditForm>





@code{
    LoginModel loginModel = new LoginModel();

    private void adminLog()
    {
        NavigationManager.NavigateTo("AdminDir");
        Service.LoggedIn = true;
        loginCount.incCount();
    }
}