@page "/Admin"

@inject NavigationManager NavigationManager

<h3>Admin</h3>

<EditForm Model="@loginModel">
    <p>
        <label>
            Admin Username:
            <InputText @bind-Value="loginModel.Input" />
        </label>
    </p>

    <p>
        <label>
            Admin Password:
            <InputText type="password" @bind-Value="loginModel.Password" />
        </label>
    </p>
    <button class="btn btn-primary" @onclick="adminLog">Submit</button>
</EditForm>





@code{
    LoginModel loginModel = new LoginModel();

    private void adminLog()
    {
        NavigationManager.NavigateTo("AdminPanel");
    }
}