@*///////////////////////////////////////////////////////////////////////////
    ///
    /// Project:        Sprint 3
    /// File Name:      AdminDir.razor
    /// Description:
    ///                 Contains contents of the directory page
    /// Course:         CSCI 4350 - Software Engineering
    /// Authors:
    ///                 Darien Roach,   roachda@etsu.edu,   Developer
    ///                 Grant Watson,   watsongo@etsu.edu,  Developer
    ///                 Kelly King,     kingkr1@etsu.edu,   Developer
    ///                 Jackson Brooks, brooksjt@etsu.edu,  Developer
    ///                 Nick Ehrhart,   ehrhart@etsu.edu,   Product Owner
    ///                 Anna Cade,      cadea1@etsu.edu,    Scrum Master
    ///
    /// Created:        Sunday, October 18th, 2020
    /// Updated:        Sunday, November 29th, 2020
    ///
    //////////////////////////////////////////////////////////////////////////*@

@page "/AdminDir"
@inject NavigationManager NavigationManager

<h3>Admin Directory</h3>

<p>
    <label>
        Welcome to the Admin Directory panel!
    </label>
</p>


<button class="btn btn-primary" @onclick="web">Web API</button>
<button class="btn btn-primary" @onclick="error">Error API</button>
<button class="btn btn-primary" @onclick="trans">Transaction API</button>
<button class="btn btn-primary" @onclick="log">Log API</button>

@code {
    void web()
    {
        NavigationManager.NavigateTo("WebAdminDir");
    }

    void error()
    {
        NavigationManager.NavigateTo("ErrorDir");
    }

    void trans()
    {
        NavigationManager.NavigateTo("TransDir");
    }

    void log()
    {
        NavigationManager.NavigateTo("LoginDir");
    }
}
