@*///////////////////////////////////////////////////////////////////////////
    ///
    /// Project:        Sprint 2
    /// File Name:      AdminPanel.razor
    /// Description:
    ///                 Contains contents of the admin page
    /// Course:         CSCI 4350 - Software Engineering
    /// Authors:
    ///                 Darien Roach,   roachda@etsu.edu,   Developer
    ///                 Grant Watson,   watsongo@etsu.edu,  Developer
    ///                 Kelly King,     kingkr1@etsu.edu,   Developer
    ///                 Jackson Brooks, brooksjt@etsu.edu,  Developer
    ///                 Nick Ehrhart,   ehrhart@etsu.edu,   Product Owner
    ///                 Anna Cade,      cadea1@etsu.edu,    Scrum Master
    ///
    /// Created:        Sunday, October 18th, 2020
    ///
    //////////////////////////////////////////////////////////////////////////*@

@page "/AdminPanel"

@inject NavigationManager NavigationManager
@using System.Net.Http
@using System.Net.Http.Json
@using System.IO;
@using System.Net;
@using Newtonsoft.Json
@using System.Net.NetworkInformation;
@using BikeShopAPI_UI;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;


<h3>AdminPanel</h3>

<p>
    <label>
        Welcome to the Admin panel!
    </label>
</p>


<button class="btn btn-primary" @onclick="getAPI">Get next metric from API</button>

<p>
    <label>
    </label>
</p>

<p>
    <label>
        Record:
        <input @bind="R" />
    </label>
</p>

<p>
    <label>
        Timestamp:
        <input @bind="DT" />
    </label>
</p>

<p>
    <label>
        Speed:
        <input @bind="S" />
    </label>
</p>

<p>
    <label>
    </label>
</p>

<p>
    <label>
        Number to delete:
        <input @bind="deleteNum" />
    </label>
</p>

<button class="btn btn-primary" @onclick="deleteAPI">Delete from API</button>

<p>
    <label>
    </label>
</p>

<button class="btn btn-primary" @onclick="LogOut">Log Out</button>

<p>
    <label>
    </label>
</p>

<button class="btn btn-primary" @onclick="Edit">Edit Account</button>


@code 
{

    LoginModel loginModel;
    HttpClient client = new HttpClient();
    Json[] json = new Json[100];

    Ping myPing = new Ping();
    PingReply reply;

    string pingSpeed;

    string temp = "27";

    int APINum = 0;

    int R;
    DateTime DT;
    double S;

    int deleteNum;

    //Change this website once hosted
    public void getPing()
    {
        reply = myPing.Send("www.google.com",1000);
        pingSpeed = reply.RoundtripTime.ToString();
    }

    private async void deleteAPI()
    {
        var response = await client.GetAsync("http://localhost:5001/api/web");
        response = await client.DeleteAsync("http://localhost:5001/api/web/delete/" + deleteNum);
    }



    private async void getAPI()
    {
        var response = await client.GetAsync("http://localhost:5001/api/web");
        json = await client.GetFromJsonAsync<Json[]>("http://localhost:5001/api/web");
        getPing();
        postAPI();

        update();

    }

    private async void postAPI()
    {
        using (var client = new HttpClient())
        {
            var res = client.PostAsync("http://localhost:5001/api/web",
                new StringContent(JsonConvert.SerializeObject(temp),
                Encoding.UTF8, "application/json"));
            try
            {
                res.Result.EnsureSuccessStatusCode();
            }
            catch (Exception e)
            {
                Console.WriteLine(e.ToString());
            }
        }

    }

    private void update()
    {
        if (APINum >= json.Length)
        {
            APINum = 0;
        }
        R = json[APINum].Record;
        DT = json[APINum].TimeStamp;
        S = json[APINum].Speed;
        APINum++;
    }

    private void LogOut()
    {
        NavigationManager.NavigateTo("Logout");
    }

    private void Edit()
    {
        NavigationManager.NavigateTo("Edit");
    }

}
