@page "/delete one login"

@using BikeShopAPI_UI.Data
@using System.Text.Json;
@inject LoginService LIService

<input @bind-value="Record" @bind-value:event="onchange" />
<button @onclick="DeleteOne" type="button">Delete</button>

@if (response.IsSuccessStatusCode)
{
    <p><em>Successfully Deleted!</em></p>
}
else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
{
    <p><em>Error</em></p>
}
else
{
    <p>Click to delete</p>
}

@code {
    int Record;
    private Transaction transaction;
    private HttpResponseMessage response = new HttpResponseMessage(System.Net.HttpStatusCode.Unauthorized);

    protected async Task DeleteOne()
    {
        response = await LIService.DeleteOneLoginAsync(Record);
    }
}