@page "/delete all logins"

@using BikeShopAPI_UI.Data
@using System.Text.Json;
@inject LoginService LIService

<p>
    <button @onclick="DeleteAll" type="button">Delete All</button>
</p>

@if (response.IsSuccessStatusCode)
{
    <p><em>Successfully Deleted!</em></p>
}
else if(response.StatusCode == System.Net.HttpStatusCode.BadRequest)
{
    <p><em>Error</em></p>
}
else
{
    <p>Click to truncate table</p>
}

@code {
    int Record;
    private Login login;
    private HttpResponseMessage response = new HttpResponseMessage(System.Net.HttpStatusCode.Unauthorized);

    protected async Task DeleteAll()
    {
        response = await LIService.DeleteAllLoginAsync();
    }
}