@*///////////////////////////////////////////////////////////////////////////
///
/// Project:        Sprint 2
/// File Name:      EditAccount.razor
/// Description:
///                 Contains page setup for editting accounts
/// Course:         CSCI 4350 - Software Engineering
/// Authors:
///                 Darien Roach,   roachda@etsu.edu,   Developer
///                 Grant Watson,   watsongo@etsu.edu,  Developer
///                 Kelly King,     kingkr1@etsu.edu,   Developer
///                 Jackson Brooks, brooksjt@etsu.edu,  Developer
///                 Nick Ehrhart,   ehrhart@etsu.edu,   Product Owner
///                 Anna Cade,      cadea1@etsu.edu,    Scrum Master
///
/// Created:        Sunday, October 18th, 2020
///
//////////////////////////////////////////////////////////////////////////*@

@page "/Edit"

@inject NavigationManager NavigationManager


<h3>Edit Account</h3>

<p>
    <label>
        Edit your Account here.
    </label>
</p>

@*This can come from copying Admin.razor formats for text inputs*@
<p>
    <label>
        New Password:
    </label>
</p>

<p>
    <label>
    </label>
</p>

<button class="btn btn-primary" @onclick="Delete">Delete Account</button>

<p>
    <label>
    </label>
</p>

<button class="btn btn-primary" @onclick="Home">Homepage</button>


@code {
    private void Delete()
    {
        NavigationManager.NavigateTo("");
    }

    private void Home()
    {
        NavigationManager.NavigateTo("");
    }
}
