@page "/get transaction"

@using BikeShopAPI_UI.Data
@using System.Text.Json;
@inject TransactionService TransService

<p>
    <input @bind-value="Record" @bind-value:event="onchange" />
    <button @onclick="Get" type="button">Submit</button>
</p>

@if (transaction == null)
{
    <p><em>Enter a Record ID.</em></p>
}
else if (!response.IsSuccessStatusCode)
{
    <p><em>Please enter a valid Record ID.</em></p>
}
else
{
    <h1>Selected Transaction</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Record</th>
                <th>Time_Stamp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@transaction.Record</td>
                <td>@transaction.Time_Stamp</td>
            </tr>
        </tbody>
    </table>
}

@code {
    int Record;
    private BikeShopAPI_UI.Data.Transaction transaction;
    private HttpResponseMessage response = new HttpResponseMessage(System.Net.HttpStatusCode.OK);

    protected async Task Get()
    {
        response = await TransService.GetOneTransactionAsync(Record);
        if (response.IsSuccessStatusCode)
        {
            transaction = ParseJson(await response.Content.ReadAsStringAsync());
        }
    }

    private Transaction ParseJson(String response)
    {

        JsonSerializerOptions options = new JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        };

        return JsonSerializer.Deserialize<Transaction>(response, options);
    }
}
