
@inject NavigationManager NavigationManager
@page "/LoginUserDir"

<h3>LoginUserDir</h3>


<button class="btn btn-primary" @onclick="fetch">Get All</button>
<button class="btn btn-primary" @onclick="Get">Get One</button>

@code {
    void fetch()
    {
        NavigationManager.NavigateTo("fetch logins");
    }

    void Get()
    {
        NavigationManager.NavigateTo("get login");
    }
}

