@page "/post transaction"

@using BikeShopAPI_UI.Data
@using System.Text.Json;
@inject TransactionService TransService

<h3>Post</h3>

<p>
    <input @bind-value="Time_Stamp" @bind-value:event="onchange" />
    <button @onclick="Post" type="button">Submit</button>
</p>

@code {
    DateTime Time_Stamp = DateTime.Today;
    HttpResponseMessage response = new HttpResponseMessage();
    protected async Task Post()
    {
        response = await TransService.PostTransactionAsync(Time_Stamp);
    }
}
