@page "/put error rate"

@using BikeShopAPI_UI.Data
@using System.Text.Json;
@inject Error_RateService ErrorService

<h3>Put</h3>

<p>
    <input @bind-value="Time_Stamp" @bind-value:event="onchange" />
    <input @bind-value="Record" @bind-value:event="onchange" />
    <button @onclick="Put" type="button">Submit</button>
</p>

@code {
    int Record;
    DateTime Time_Stamp = DateTime.Today;
    HttpResponseMessage response = new HttpResponseMessage();
    protected async Task Put()
    {
        response = await ErrorService.PutError_RateAsync(Record, Time_Stamp);
    }
}
