@*///////////////////////////////////////////////////////////////////////////
    ///
    /// Project:        Sprint 3
    /// File Name:      User.razor
    /// Description:
    ///                 Contains user login page
    /// Course:         CSCI 4350 - Software Engineering
    /// Authors:
    ///                 Darien Roach,   roachda@etsu.edu,   Developer
    ///                 Grant Watson,   watsongo@etsu.edu,  Developer
    ///                 Kelly King,     kingkr1@etsu.edu,   Developer
    ///                 Jackson Brooks, brooksjt@etsu.edu,  Developer
    ///                 Nick Ehrhart,   ehrhart@etsu.edu,   Product Owner
    ///                 Anna Cade,      cadea1@etsu.edu,    Scrum Master
    ///
    /// Created:        Sunday, October 18th, 2020
    /// Updated:        Sunday, November 29th, 2020
    ///
    //////////////////////////////////////////////////////////////////////////*@

@page "/User"

@inject NavigationManager NavigationManager
@inject Service Service
@inject LoginCount loginCount

<h3>User</h3>

<EditForm Model="@loginModel">
    <p>
        <label>
            Username:
            <InputText @bind-Value="@loginModel.Input" />
        </label>
    </p>

    <p>
        <label>
            Password:
            <InputText type="password" @bind-Value="@loginModel.Password" />
        </label>
    </p>
    <button class="btn btn-primary" @onclick="userLog">Submit</button>
</EditForm>





@code{
    LoginModel loginModel = new LoginModel();


    private void userLog()
    {
        NavigationManager.NavigateTo("UserDir");
        Service.LoggedIn = true;
        loginCount.incCount();
    }
}