@*///////////////////////////////////////////////////////////////////////////
    ///
<<<<<<< HEAD
    /// Project:        Sprint 3
=======
    /// Project:        Sprint 2
>>>>>>> origin/feature/userinterface
    /// File Name:      UserPanel.razor
    /// Description:
    ///                 Contains user panel page
    /// Course:         CSCI 4350 - Software Engineering
    /// Authors:
    ///                 Darien Roach,   roachda@etsu.edu,   Developer
    ///                 Grant Watson,   watsongo@etsu.edu,  Developer
    ///                 Kelly King,     kingkr1@etsu.edu,   Developer
    ///                 Jackson Brooks, brooksjt@etsu.edu,  Developer
    ///                 Nick Ehrhart,   ehrhart@etsu.edu,   Product Owner
    ///                 Anna Cade,      cadea1@etsu.edu,    Scrum Master
    ///
    /// Created:        Sunday, October 18th, 2020
<<<<<<< HEAD
    /// Updated:        Sunday, November 29th, 2020
=======
>>>>>>> origin/feature/userinterface
    ///
    //////////////////////////////////////////////////////////////////////////*@

@page "/UserPanel"

@inject NavigationManager NavigationManager
<<<<<<< HEAD
@inject LoginCount loginCount

=======
@using Blazorise
@using Blazorise.Charts
>>>>>>> origin/feature/userinterface

<h3>User Panel</h3>

<p>
    <label>
        Welcome to the User panel!
    </label>
</p>

<p>
    <label>
    </label>
</p>

<<<<<<< HEAD
<p>
    <label>
        Total number of logins:
        <input @bind="loginCount.LogCount" />
    </label>
</p>

<p>
    <label>
    </label>
</p>
=======

>>>>>>> origin/feature/userinterface

<button class="btn btn-primary" @onclick="LogOut">Log Out</button>

<p>
    <label>
    </label>
</p>

<button class="btn btn-primary" @onclick="Edit">Edit Account</button>

<p>
    <label>
    </label>
</p>


@code {


<<<<<<< HEAD
=======



>>>>>>> origin/feature/userinterface
    private void LogOut()
    {
        NavigationManager.NavigateTo("Logout");
    }

    private void Edit()
    {
        NavigationManager.NavigateTo("Edit");
    }

}
