@*///////////////////////////////////////////////////////////////////////////
    ///
    /// Project:        Sprint 3
    /// File Name:      UserDor.razor
    /// Description:
    ///                 Contains directory to user pages
    /// Course:         CSCI 4350 - Software Engineering
    /// Authors:
    ///                 Darien Roach,   roachda@etsu.edu,   Developer
    ///                 Grant Watson,   watsongo@etsu.edu,  Developer
    ///                 Kelly King,     kingkr1@etsu.edu,   Developer
    ///                 Jackson Brooks, brooksjt@etsu.edu,  Developer
    ///                 Nick Ehrhart,   ehrhart@etsu.edu,   Product Owner
    ///                 Anna Cade,      cadea1@etsu.edu,    Scrum Master
    ///
    /// Created:        Sunday, October 18th, 2020
    /// Updated:        Sunday, November 29th, 2020
    ///
    //////////////////////////////////////////////////////////////////////////*@

@page "/UserDir"
@inject NavigationManager NavigationManager
@inject LoginCount loginCount


<h3>User Directory</h3>

<p>
    <label>
        Welcome to the User Directory panel!
    </label>
</p>


<button class="btn btn-primary" @onclick="web">Web API</button>
<button class="btn btn-primary" @onclick="error">Error API</button>
<button class="btn btn-primary" @onclick="trans">Transaction API</button>
<button class="btn btn-primary" @onclick="log">Log API</button>

<p>
    <label>
    </label>
</p>

<p>
    <label>
        Total number of logins:
        <input @bind="loginCount.LogCount" />
    </label>
</p>

<p>
    <label>
    </label>
</p>

<button class="btn btn-primary" @onclick="LogOut">Log Out</button>

<p>
    <label>
    </label>
</p>

<button class="btn btn-primary" @onclick="Edit">Edit Account</button>

<p>
    <label>
    </label>
</p>





@code {
    void web()
    {
        NavigationManager.NavigateTo("UserPanelWeb");
    }

    void error()
    {
        NavigationManager.NavigateTo("ErrorUserDir");
    }

    void trans()
    {
        NavigationManager.NavigateTo("TransUserDir");
    }

    void log()
    {
        NavigationManager.NavigateTo("LoginUserDir");
    }

    private void LogOut()
    {
        NavigationManager.NavigateTo("Logout");
    }

    private void Edit()
    {
        NavigationManager.NavigateTo("Edit");
    }
}
