@page "/WebAdminDir"
@inject NavigationManager NavigationManager

<h3>Web speed Admin Directory</h3>

<button class="btn btn-primary" @onclick="fetch">Get All</button>
<button class="btn btn-primary" @onclick="Del">Delete</button>
<button class="btn btn-primary" @onclick="DelAll">Delete All</button>
<button class="btn btn-primary" @onclick="Post">Post</button>
<button class="btn btn-primary" @onclick="Get">Get One</button>
<button class="btn btn-primary" @onclick="Put">Put</button>

@code {
    void fetch()
    {
        NavigationManager.NavigateTo("fetch web speeds");
    }

    void Del()
    {
        NavigationManager.NavigateTo("delete one web speed");
    }

    void Post()
    {
        NavigationManager.NavigateTo("post web speed");
    }

    void DelAll()
    {
        NavigationManager.NavigateTo("delete all web speeds");
    }

    void Get()
    {
        NavigationManager.NavigateTo("get web speed");
    }

    void Put()
    {
        NavigationManager.NavigateTo("put web speed");
    }
}
